
@{
    ViewBag.Title = "About";
}
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/theme/css/style.css">


<div class="image-aboutus-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="lg-text">Hakkımızda</h1>
            </div>
        </div>
    </div>
</div>

<div class="container" pb-5>
    <p>
        2002’de kurulan IStore A.Ş., bilişim ve iletişim dünyasına ilk adımını 2004’de Aycell (Türk Telekom) iletişim merkezinin Erdemli/Mersin’de kurulmasıyla attı. Bu ilk adımı, 2006’da Silifke ve 2008’de Mersin Forum AVM’de açılan Türk Telekom İletişim Merkezleri izledi.

        2013’de dünyanın en büyük markası olan Apple ile mükemmel bir birlikteliğin temellerinin atılması ile birlikte ilk Apple Premium Reseller mağazası ve 2014’de ilk Apple Yetkili Servis Sağlayıcısı Konya’da açıldı. Konya’yı; 2015’de Mersin ve İstanbul Şişli’de açılan Apple Yetkili Servis Sağlayıcıları, 2016’da yine Mersin’de hizmete giren Apple Premium Reseller mağazası, 2017’de Ankara’da Ankamall AVM içerisindeki iki ayrı lokasyonda açılan Satış mağazası ve Satış Sonrası Servis Sağlayıcısı izlerken Şişli’deki Yetkili Servis 2017’de İstanbul Cevahir AVM’ye taşındı. Söz konusu Yetkili Servis, Apple ile ortak yürütülen çalışmalar sonucunda oluşturulan geniş ve ferah alana sahip, içerisinde bir kafenin de bulunduğu müşteri memnuniyeti odaklı yapı, IStore A.Ş.’nin satış başarısının yanı sıra satış sonrasında kusursuz hizmet verme hedefini de yansıtan “flagship” konsepti olarak Apple dünyasına tanıtıldı. Rol model olarak kabul edilen bu büyüleyici konsept, 2018’de daha da geliştirildi ve Türkiye’nin en büyük Apple Yetkili Servis Sağlayıcısı olarak Mersin Marina’da hizmet vermeye başladı. 2018’deki büyüme bu yatırımla sınırlı kalmayıp Hatay Palladium AVM ve Mersin Toroslar’daki Türk Telekom İletişim Merkezinin açılması ve gurgencler.com.tr’nin kullanıma sunulması ile devam etti.

        Atılım yılı olan 2019’da sırası ile; Ankara Cepa AVM’deki iki farklı lokasyonda Apple Premium Reseller mağazası ve Apple Yetkili Servis Sağlayıcısı, İstanbul Mall of İstanbul’da yine iki farklı lokasyonda Apple Premium Reseller mağazası ve Apple Yetkili Servis Sağlayıcısı, Ankara Next Level AVM ve İstanbul Palladium AVM’de Apple Premium Reseller mağazaları ve Edirne Erasta AVM’de Apple Yetkili Servis Sağlayıcısı mevcut satış ve satış sonrası destek ağının yaygınlaşmasına katkıda bulundu. Yine 2019’da Mersin Pozcu ve Tarsus’ta Türk Telekom İİetişim Merkezlerine 2 yeni lokasyon daha eklendi. Bu yatırımları ile IStore A.Ş.; Apple Premium Reseller mağazalarının sayısını 7’ye, Apple Yetkili Servis Sağlayıcılarının sayısını 9’a ve Türk Telekom İletişim Merkezlerinin sayısını 6’ya çıkarmış oldu. 2020 yılına gelindiğinde, İstanbul Viaport AVM ve Ankara Kuzu Effect AVM’de iki yeni Apple Yetkili Servis Sağlayıcısı daha açılırken, Türk Telekom İletişim Merkezi Pozcu Şubesi de Mersin Sayapark AVM’ye taşındı. 2020, IStore A.Ş. için dijital dönüşüm projelerinin de başlangıç yılı oldu. Hızlı büyümeyi desteklemek ve geleceğe sağlam bir temel oluşturmak amacı doğrultusunda, satış-pazarlama faaliyetleri ile web sitesine ilişkin alt yapıya yönelik geliştirmelerde bulunmak üzere ulusal ve uluslararası firmalar ile anlaşmalar yapılırken, pandeminin başlaması ile birlikte “kapıda servis” ve “kapıya teslimat” uygulamaları ile kesintisiz hizmet anlayışı desteklendi.

        2021’de de yatırımlarına hız kesmeden devam eden IStore A.Ş.; İzmir Optimum AVM ile Bursa Korupark AVM’de açılan ve Apple Yetkili Servis Sağlayıcısı hizmetinin de sunulduğu, Apple Premium Reseller mağazaları ile Apple kullanıcılarına daha yakın olma taahhüdünü sürdürdü.

        2021 itibari ile Bilişim ve iletişim alanındaki 19. yılını kutlayan IStore A.Ş.; İstanbul, Ankara, İzmir, Bursa, Mersin, Konya, Edirne ve Hatay’daki 12 Apple Yetkili Servis Sağlayıcısı, 9 Apple Premium Reseller mağazası, 6 Türk Telekom İletişim Merkezi ve gurgencler.com.tr Online Mağazası’nda çalışan 200’ü aşkın personeli ile yılda 3.8 milyon ziyaretçiyi ağırlamakta, mükemmel müşteri memnuniyeti amacından sapmadan gelişimine devam etme kararlılığını sürdürmektedir.
    </p>
</div>

