
@{
    ViewBag.Title = "Success";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Siparişiniz Tamamlandı</h2>
        </div>
        <a href="/Account" class="btn btn-primary">
            Siparişlerime git
        </a>
    </div>
</div>



